*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}
a{
    text-decoration: none;
    color: #000;
}

.container{
    box-sizing: border-box;
    width: 100%; 
    padding: 0 40px; 
    max-width: 1366px; 
    margin:0 auto;

}
img {
    border: none;
    display: 
    block; max-width:100%;
}
p{
    font-size: 24px;
    padding: 10px;
    line-height: 36px;
    text-align: center;
}
button{
    background: none;
    color: #fff;
    border: none;
}
@media (max-width: 700px){
    .container{
        padding: 0 20px; 
    }
    p{
        font-size: 18px;
        padding: 5px;
        line-height: 24px;
        text-align: center;
    }
}
